{% load static %}
{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
<div id="heading-pages">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="main-post">
              <div class="image-post">
                <img src="{% static 'front/images/blog.png' %}" alt="post image">
              </div>
              <div class="post-content">
                <div class="post-title">
                  <h1>Post title goes here</h1>
                </div>
                <div class="post-discription">
                  <p>Please tell your friends about <span class="blue">template</span><span class="green">mo</span>.com website. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu suscipit lectus. Pellentesque ut risus rhoncus, congue tortor at, aliquam augue. Vestibulum ex mi, varius quis sollicitudin at, blandit ac lorem. Vivamus mattis sapien turpis, in fringilla nulla cursus id. Vestibulum vestibulum velit et accumsan aliquet. Aenean nulla justo, scelerisque id pulvinar eu, fringilla et nisl. Cras sapien magna, tincidunt in sapien et, sagittis sodales lacus. Praesent a ex ut augue fringilla interdum.</p>
            
                <blockquote>Vestibulum eget ipsum quis dolor scelerisque imperdiet tellus leo, consequat consectetur enim.Proin malesuada risus quis neque tempor egestas in nec nisl. Nulla feugiat auctor vulputate.</blockquote>

                <p>Nulla eu sagittis eros. Morbi vulputate felis et erat tempor venenatis. In hac habitasse platea dictumst. Phasellus a augue non leo consectetur auctor eget sit amet augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris eu dui tellus. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. <br><br>

                Duis enim velit, mattis eget volutpat at, euismod et felis. Donec bibendum ligula lorem, at suscipit risus ornare non.  Curae In accums, sem eu vestibulum molestie, eros ex lobortis quam, at suscipit orci nibh non arcu. Etiam magna eros, mattis nec elementum vitae, tempor commodo arcu. Sed lobortis, metus eu hendrerit rutrum, lorem nulla blandit est, quis laoreet nunc lorem tempor magna. Aenean et nunc vitae lacus ullamcorper consequat. Integer vehicula at purus sed tempus.</p>
                </div>
              </div>
            </div>
          </div>      
        </div>
      </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="copyright-text">
                    <p>Copyright &copy; 2084 Fajri Harits Muzaki</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="third-arrow">
                    <a href="#" class="scroll-link btn btn-dark" data-id="top"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
